<div class="card">
  <img class="card-img-top" src="{{this.image}}" alt="{{this.creditsText}}">
  <div class="card-body">

    <a href="/recipes/{{this._id}}">
      <h3 class="card-title">{{this.title}}</h3>
    </a>

    {{!-- <button class='fav' recipeId="{{this._id}}">favoritar</button> --}}
    
    <div class='like-container'>
      {{#if this.favorite}}
      <i class='like-i press' recipeId="{{this._id}}"></i>
      {{else}}
      <i class='like-i' recipeId="{{this._id}}"></i>
      {{/if}}
      <span class='like-span'>liked!</span>
    </div>

  </div>
</div>