<div class="background">
    <div class="slide">
        <img src="/images/soul-food-thai-hong-kong.jpg" alt="Table with food and hands of people grabbing food" id="image1">
        <span id="text-image1">delicious and healthy meals for you everyday</span>
    </div>
    <div class="slide">
        <img src="/images/cheap.jpg" alt="Table with food and hands of people grabbing food" id="image2">
        <span id="text-image2"><a href="/signup" id="link">Sign up now!</a></span>
    </div>
</div>
<div class="home-categories">
    <div class="recipes-container">
        <h1 class="title-home-categories">Most viewed</h1>
        <div class="recipe-container">
            <div class="cards-container">
                <div class="card">
                    <img class="card-img-top" src="{{recipes.11.image}}" alt="{{recipes.11.creditsText}}">
                    <div class="card-body">
                        <a href="/recipes/{{recipes.11._id}}">
                            <span class="card-title">{{recipes.11.title}}</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{recipes.12.image}}" alt="{{recipes.12.creditsText}}">
                    <div class="card-body">
                        <a href="/recipes/{{recipes.12._id}}">
                            <span class="card-title">{{recipes.12.title}}</span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{recipes.2.image}}" alt="{{recipes.2.creditsText}}">
                    <div class="card-body">
                        <a href="/recipes/{{recipes.2._id}}">
                            <span class="card-title">{{recipes.2.title}}</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recipes-container">
        <h1 class="title-home-categories">Most starred</h1>
        <div class="recipe-container">
            <div class="cards-container">
                <div class="card">
                    <img class="card-img-top" src="{{recipes.18.image}}" alt="{{recipes.18.creditsText}}">
                    <div class="card-body">

                        <a href="/recipes/{{recipes.18._id}}">
                            <span class="card-title">{{recipes.18.title}}</span>
                        </a>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{recipes.27.image}}" alt="{{recipes.27.creditsText}}">

                    <div class="card-body">

                        <a href="/recipes/{{recipes.27._id}}">
                            <span class="card-title">{{recipes.27.title}}</span>
                        </a>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{recipes.39.image}}" alt="{{recipes.39.creditsText}}">
                    <div class="card-body">
                        <a href="/recipes/{{recipes.39._id}}">
                            <span class="card-title">{{recipes.39.title}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let myIndex = 0;
    carousel();
    function carousel() {
        let x = document.getElementsByClassName("slide");
        for (let i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3500);
    }
</script>