<div class="background">
    <div class="slide">
        <img src="/images/soul-food-thai-hong-kong.jpg" alt="Table with food and hands of people grabbing food" id="image1">
        <span id="text-image1">delicious and healthy meals for you everyday</span>
    </div>
    <div class="slide">
        <img src="/images/cheap.jpg" alt="Table with food and hands of people grabbing food" id="image2">
        <span id="text-image2"><a href="/signup" id="link">Sign up now!</a></span>
    </div>
</div>
<div class="home-categories">
    <div class="recipes-container">
        <h1 class="title-home-categories">Most viewed</h1>
        <div class="recipe-container">
            <div class="cards-container">
                <div class="card">
                    <img class="card-img-top" src="{{recipes.0.image}}" alt="{{recipes.0.creditsText}}">
                    <div class="card-body">
                        <a href="/recipes/{{recipes.0._id}}">
                            <h3 class="card-title">{{recipes.0.title}}</h3>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{recipes.1.image}}" alt="{{recipes.1.creditsText}}">
                    <div class="card-body">
                        <a href="/recipes/{{recipes.1._id}}">
                            <h3 class="card-title">{{recipes.1.title}}</h3>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{recipes.2.image}}" alt="{{recipes.2.creditsText}}">
                    <div class="card-body">
                        <a href="/recipes/{{recipes.2._id}}">
                            <h3 class="card-title">{{recipes.2.title}}</h3>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recipes-container">
        <h1 class="title-home-categories">Most starred</h1>
        <div class="recipe-container">
            <div class="cards-container">
                <div class="card">
                    <img class="card-img-top" src="{{recipes.3.image}}" alt="{{recipes.3.creditsText}}">
                    <div class="card-body">

                        <a href="/recipes/{{recipes.3._id}}">
                            <h3 class="card-title">{{recipes.3.title}}</h3>
                        </a>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{recipes.4.image}}" alt="{{recipes.4.creditsText}}">

                    <div class="card-body">

                        <a href="/recipes/{{recipes.4._id}}">
                            <h3 class="card-title">{{recipes.4.title}}</h3>
                        </a>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{recipes.5.image}}" alt="{{recipes.5.creditsText}}">
                    <div class="card-body">
                        <a href="/recipes/{{recipes.5._id}}">
                            <h3 class="card-title">{{recipes.5.title}}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let myIndex = 0;
    carousel();
    function carousel() {
        let x = document.getElementsByClassName("slide");
        for (let i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3500);
    }
</script>