<div class="redirect__recipe">
     {{#each recipe}}
     {{#if id}}
    <img src={{this.image}} alt={{this.creditsText}}>
    <h4>{{this.title}} </h4>
        {{#each this.extendedIngredients}}
            {{ originalString }}
        {{/each}}
        <h4>Modo de preparo</h4>
       <p> {{this.instructions}} 
     {{/if}}
    {{/each}}
</div>